<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Books App - Full Metal Brackets</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>We are building an app to look at books</p>

    <a href='/books'>See All Books</a>

  </body>
</html>
